.prediction{
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    max-width: 100rem;
    padding: 1rem;
}

.prediction .result-value{
    /*background: #E7625F;*/
    max-width: max-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.result-grid .results{
    padding: 1.5rem;
}

.prediction .result-text .heart-disease-result{
    font-size: 2.5rem;
    font-weight: 400;
}

.card{
    border-radius: 1.5rem;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    padding: 0.5rem;
}

/*#Responsive*/
@media (min-width: 75rem) {
    .result-grid{
    }

    .prediction .result-value {
        max-width: max-content;
        margin-left: 22rem;
        padding: 0.5rem;
    }
}
